body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*::-webkit-input-placeholder{
  color: #ffffff;
}
*/
@font-face {
  font-family: 'punchstarterfont';
  src: url('Frankfurter.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'textFieldPS';
  src: url('OPTIFrankfurter-Medium.otf');
  font-weight: normal;
  font-style: normal;
}



body {
  background-image: url(./punchstarterbackground.jpeg);
}

.winkybutton{
  position:absolute;
  top:100;
  width: 100;
  height: 100;
}






.flexclass{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}
